@mixin btn-inline-block($font-size, $origin-color, $hover-color) {
    //because these buttons by default always come with this border;
    border: none;
    color: $origin-color;
    font-size: $font-size;

    // When we use the currentColor, we would not need to change it, when we change the color in hover;
    border-bottom: 1px solid currentColor;

    padding-bottom: 2px;
    display: inline-block;
    // for reuse;
    background-color: transparent;
    cursor: pointer;

    span {
        margin-left: 3px;
        transition: margin-left .2s;
    }

    &:hover {
        color: $hover-color;
        span {
            margin-left: 8px;
        }
    }

    &:focus {
        outline: none;

        //With the keyword infinite, it will work infinitly;
        animation: pulsate 1s infinite;
    }
}


@mixin box-position($x-direction, $y-direction) {
    position: absolute;
    
    //Because of this wedge that we cut out right, we can adjust top to 40% to look better;
    left: $x-direction;
    top: $y-direction;

    //we can specify how much we want to translate on x and y, And what we want is minus 50% for both.

    //these 50% are now no longer in relation to the parent element, but of the element itself. So it is minus 50%; 
    transform: translate(-50%, -50%);
}