.content {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}

.sidebar {
    background-color: var(--color-grey-dark-1); 

    //1 - flex-grow: we set "0" and that don't want the element to grow if there's some space;
    //2 - flex-shrink: we set "0" and  don't want it to shirk if there's not enough space ;
    //3 - flex-basis: Since it's a percent value it's actually okay to set flex-shrink "0", because it will automatically shrink because it's a percentage.
    flex: 0 0 18%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
}

.hotel-view {
    background-color: var(--color-white);
    flex: 1;

}

.detail {
    display: flex;
    border-bottom: $border-line;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    font-size: 1.4rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
}

.user-reviews {
    flex: 1;

    //"text-align: center;" is not usefull here, because it would still center the text in the component of description;
    // text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;    
}
