/////////////////////////////////
//CALL TO ACTION
.cta {
    text-align: center;
    padding: 3.5rem 4.5rem;

    &__book-now {
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
    }

    
}

